@import "base/min";
.glyphicon-remove{
  color: $color;
  font-size: 30px;
  position: absolute;
  top: 20px;
  left:50px;
  z-index: 10;
  cursor:pointer;
}
.g-content{
  position: relative;
  margin: 0 auto;
  width: 900px;
  color: #333;
  background-color: #fff;
  padding: 0 0 100px;
  box-sizing: border-box;
  .c-content{
    position:relative;
    box-sizing: border-box;
    padding: 20px 50px;
  }
  .c-art-content{
    padding: 10px;
    box-sizing: border-box;
  }
  .c-img-list{
    padding: 10px 0;
  }
  .c-type{
    padding: 3px 0;
    box-sizing: border-box;
    position: relative;
    .c-p1{
      width: 50%;
      line-height: 1.8;
      float: left;
    }
    &.c-title{
      background-color: $color;
      height: 150px;
      padding: 50px 30px 0;

      box-sizing: border-box;
      color: #fff;
      img{
        float: left;
        width: 45px;
        height: 45px;
        border-radius: 100%;
        margin-left: 20px;
      }
      .c-list{
        width: 80%;
        float: left;
        margin-left: 10px;
      }
      p,span,time{
        color: #fff;
        font-size: 14px;
      }
    }
  }

  h1{
    font-size: 24px;
    padding: 10px 0 10px 20px;
    text-align: left;
  }
  h3{
    font-size: 18px;
    padding: 20px 0;
    box-sizing: border-box;
    border-bottom:1px solid #e5e5e5;
  }
  p{
    font-size: 14px;
    color: #666;
  }
}