@import "base/min";

.m-content-box{
  .m-list{
    position: relative;
    padding-top: 10px;
    border-bottom:1px dashed #e9e9e9;
  }
  .list-row{
    position: relative;
    width: 100%;
    font-size: 24px;
    line-height: 1.5;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
    a{
      -webkit-box-flex: 1 ;  /* OLD - iOS 6-, Safari 3.1-6 */
      -moz-box-flex: 1;    /* OLD - Firefox 19- */
      -webkit-flex: 1;   /* Chrome */
      -ms-flex: 1 ;      /* IE 10 */
      flex: 1;         /* NEW, Spec - Opera 12.1, Firefox 20+ */
      color: #333;
      text-decoration: none;
      transition: color .3s;
      &:hover{
        color: $color;
      }
      &:visited{
        color: #999;
      }
    }
    time{
      -webkit-box-flex: 1 ;  /* OLD - iOS 6-, Safari 3.1-6 */
      -moz-box-flex: 1;    /* OLD - Firefox 19- */
      -webkit-flex: 1;   /* Chrome */
      -ms-flex: 1 ;      /* IE 10 */
      flex: 1;         /* NEW, Spec - Opera 12.1, Firefox 20+ */
      text-align: right;
      padding-right: 10px;
      font-size: 14px;
      color: #999;
    }
    .list-icon{
      position: relative;
      right: 0;
      display: inline-block;
      cursor: pointer;
      border-radius: 1px;
      line-height: 1;
      border:1px solid #eee;
      padding:0 8px;
      box-sizing: border-box;
      .glyphicon{
        margin:  0 2px;
      }
      div{
        position: relative;
        transition:color 0.3s;
        top: -3px;
        display: inline-block;
        color: #ccc;
        font-size: 12px;
        opacity: 1;
      }
      .p1{
        display: inline-block;
      }

      &:hover{
        .glyphicon{

          color: $color;
        }
        .p1{
          color: $color;
        }

      }

    }

  }
  .list-img{
    width: 82px;
    height: 82px;
    margin:10px 10px 10px 0;

  }

  .c-row{
    height: 41px;
    position: absolute;
    right: 0;
    top:5px;
    &:last-child{
      top:45px;
    }

  }
  .list-right{
    position: relative;
    span{
      cursor: pointer;
      font-size: 12px;
      color: #999;
      padding: 4px 8px;
      border-radius: 2px;
      margin: 0 5px;
      &:hover{
        background-color: #e4e6e9;
      }
    }
    img{
      cursor: pointer;
      width: 35px;
      height: 35px;
    }
  }
}

