@import "base/min";

.g-expand{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 105;
  left:0;
  top:0;
  ul{
    position: relative;
    width: 100%;
    left: 50%;
    margin-left: -50%;
    li{
      position: relative;
      width: 100%;
    }
    img{
      display: block;
      margin: 0 auto;
      width: 40%;
    }
  }
}