@import "base/min";

.m-header{
  position: relative;
  height: 80px;
  background-color: #fff;
  border-bottom:1px solid #eee;
  .content{
    width: 1000px;
    height: 80px;
    margin:0 auto;
  }
  .info{
    height: 80px;
    line-height: 80px;
    float: right;
    a{
      display: inline-block;
      margin: 0 10px;
      cursor:pointer;
      span{
        color: #999;
      }
      span:hover{
        color: $color;
      }
    }
    .img-box{

    }
    img{
      width: 40px;
      height: 40px;
      border-radius: 100%;
    }
  }
}