@import "base/min";

.m-header{
  position: relative;
  height: 80px;
  background-color: #fff;
  border-bottom:1px solid #eee;
  .content{
    width: 1000px;
    height: 80px;
    margin:0 auto;
  }
  .info{
    position: relative;
    height: 80px;
    line-height: 80px;
    float: right;
    a{
      display: inline-block;
      margin: 0 10px;
      cursor:pointer;
      span{
        color: #999;
      }
      span:hover{
        color: $color;
      }
    }
    .img-box{

    }
    img{
      width: 40px;
      height: 40px;
      border-radius: 100%;
    }
    p{
      position: relative;
      float: right;
      right: 0;
      a{
        color: $color;
      }
    }
  }
  .list-group{
    position: absolute;
    z-index: 4;
    right: 0px;
    top:80px;
    width: 120px;
    transition: opacity .5s;
    li{
      color: #999;
      cursor: pointer;
      padding: 0 25px;
      height: 45px;
      line-height: 45px;
      box-sizing: border-box;
      &:hover{
        transition: all .5s;
        background-color: #f9f9f9;
        a{
          color: $color
        }
      }
      a{
        text-decoration: none;
        width: 100%;
        height: 100%;
        color: #999;
        margin: 0;
        padding: 0;
      }
    }
  }
}