@import "base/min";

.p-setting{
  .m-list-box{
    position: relative;
    border-bottom: 1px solid #eee;
    padding: 20px 0;
    color: #666;
    &:last-child{
      border-bottom:0;
    }

    h3{
      font-size: 22px;
      line-height: 1.5;
      color: #333;
    }
    img{
      width: 80px;
      height: 80px;
      border-radius: 100%;
      margin-left: 30px;
    }
    .u-p1{
      position: absolute;
      display: inline-block;
      font-size: 14px;
      margin-left: 20px;
      margin-top: 20px;
    }
    .u-btn{
      cursor: pointer;
      position: absolute;
      margin-left: 20px;
      margin-top: 50px;
      display: inline-block;
      padding: 5px;
      border-radius: 4px;
      background-color: $color;
      color: #fff;
      font-size: 14px;
    }
    input{
      margin-left: 30px;
      border:0;
      font-size: 16px;
      color: #aaa;
      &.color6{
        color: #666;
      }

    }

  }
  .glyphicon-pencil,.cancel{
    position: relative;
    color: $color;
    margin-left: 15px;
    margin-right: 15px;
    float: right;
  }
  .u-edit{
    position: absolute;
    right: 0;
    top: 50%;
    color: $color;
    margin-top: -10px;
    span{
      cursor: pointer;
    }
    .edit{
      cursor: pointer;
      margin-right: 40px;
    }


  }
  .mt100{
    margin-top: 100px;
  }
  .btn{
    width: 20%;
    margin: 0 auto;
    background-color: $color;
    border: 0;
  }
  #file{
    width: 0;
    height: 0;
    opacity: 0;
  }

}