@import "base/min";

.g-write{

  width: 1000px;
  margin: 30px auto ;
  resize: vertical;
  .title{
    height: 50px;
    line-height: 50px;
    margin-bottom: 20px;
    width: 100%;
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
    border-right:0;
    border-left:0;
    background-color:transparent;
    padding-left: 20px;
    font-size: 16px;
    color: #666;
    //box-shadow: 1px 1px 3px #ccc;
    &:focus{
      //box-shadow: 0 0 15px #ccc;
  }

  }

  .m-editor{
    border-right:0;
    border-left:0;
    margin-bottom: 30px;
    //box-shadow: 1px 1px 4px #ccc;
  }
  .ql-container .ql-editor {
    min-height: 500px;
    background-color: #fff;

  }
  img{
    max-height:500px;
  }
  .ql-toolbar.ql-snow{
    border-right:0;
    border-left:0;
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
  }
  .ql-container.ql-snow{
    border-right:0;
    border-left:0;
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
  }
  .ql-editor p{
    font-size: 16px;
    font-family: "Microsoft YaHei";
    color: #666;
  }
  .btn-primary{
    width: 150px;
    margin: 0 auto;
    background-color: #f28d83;
    border: 0;
  }
}
